# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next/
out/

# Logs
logs
*.log
logs/*
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Build artifacts
dist/
build/
coverage/

# Cache
.cache/
.next/cache/

__pycache__/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
